*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.menu_container{
    display: flex;
    color: white;
    background-color: #424141;
    align-items: center;
    justify-content: space-around;
    height: 80px;
}

.logo{
    /* height: 50px; */
    width: 140px;
}

.header_menu{
    display: flex;
    list-style: none;
}

.header_item{
    font-size: 22px;
    margin-right:20px ;
    padding: 5px;
}

.header_item:hover{
    font-size:25px;
    color:cornsilk;
    cursor: pointer;
}

.banner-container{
    height: 100vh;
    background: url(../images/background.png), linear-gradient(45deg, black,#2e2e2e);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.banner-img{
    width: 300px;
}

.banner-title{
    font-size: 32px;
    margin-bottom: 15px;
}

.banner-description{
    font-size: 22px;
    margin-bottom: 20px;
}

.btn{
    border-radius: 10px;
    padding: 13px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color:teal;
    border: 2px solid #424141;
}

.btn:hover{
    font-size: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 10px whitesmoke;
}
